@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@font-face {
  font-family: "BebasNeueBold";
  src: url("../fonts/Bebas/BebasNeueBold.eot") format("embedded-opentype"), url("../fonts/Bebas/BebasNeueBold.otf") format("opentype"), url("../fonts/Bebas/BebasNeueBold.woff") format("woff"), url("../fonts/Bebas/BebasNeueBold.ttf") format("truetype"), url("../fonts/Bebas/BebasNeueBold.svg#BebasNeueBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "awesome";
  src: url("../fonts/webfonts/fa-brands-400.eot") format("embedded-opentype"), url("../fonts/webfonts/fa-brands-400.otf") format("opentype"), url("../fonts/webfonts/fa-brands-400.woff") format("woff"), url("../fonts/webfonts/fa-brands-400.woff2") format("woff"), url("../fonts/webfonts/fa-brands-400.ttf") format("truetype"), url("../fonts/webfonts/fa-brands-400.svg#BebasNeueBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
header {
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}
header nav .b-nav-logo img {
  height: 67px;
  width: 67px;
}
header nav .b-nav-item {
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  margin-left: 40px;
}
header nav .b-nav-link {
  color: #fff !important;
  font-size: 16px;
}
header nav .b-nav-link:hover {
  color: #cbcbcb;
}
header nav .b-phone-number .b-nav-link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #fff !important;
}
header nav .b-phone-number img {
  margin-right: 15px;
  height: 21px;
  margin-bottom: 8px;
}
header nav .b-phone-number p {
  color: #a2b1da;
  text-align: right;
  font-size: 12px;
}

.b-points {
  color: #2a343d;
}
.b-points .b-important {
  margin-top: 10px;
}
.b-points .b-points-info {
  max-width: 280px;
  margin-left: 0px !important;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.b-points .b-points-info .b-points-info-text {
  min-width: 280px;
  margin-bottom: 15px;
  margin-top: 60px;
  font-family: "BebasNeueBold";
  list-style-type: none;
  font-size: 25px;
  line-height: 26px;
}
.b-points .b-points-info .b-points-info-text::before {
  display: block;
  width: 210px;
  content: "";
  position: absolute;
  border-bottom: 2px solid #f2f2f2;
  top: 80%;
  left: 60px;
}
.b-points .b-point-title.one,
.b-points .b-point-title.two,
.b-points .b-point-title.three {
  border: 1px #e4e4e4 solid;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 30px;
  line-height: 26px;
  background-color: #f8f8f8;
}
.b-points .b-point-title.one i,
.b-points .b-point-title.two i,
.b-points .b-point-title.three i {
  margin-top: 7px;
  margin-left: 130px;
}
.b-points .b-point-title {
  margin-top: 3px;
  border: 1px #e4e4e4 solid;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 30px;
  line-height: 26px;
  background-color: #f8f8f8;
}
.b-points .b-point-title div {
  margin-left: 10px;
}
.b-points .b-point-title .three {
  margin-left: 132px;
}
.b-points .b-point-title .open {
  display: none;
}
.b-points .b-point-title.one i {
  margin-top: 7px;
  margin-left: 135px;
}
.b-points .b-point-title.two i {
  margin-left: 120px;
}
.b-points .b-point-title.three i {
  margin-left: 136px;
}
.b-points .b-form {
  margin-top: 15px;
}
.b-points .b-form.two,
.b-points .b-form.three {
  display: none;
}
.b-points .b-checkbox-item.none {
  display: none;
  height: 100%;
  margin-top: 3px;
  position: relative;
}
.b-points .b-checkbox-item.none input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.b-points .b-checkbox-item.none input:checked + .b-checkbox-item-title:before {
  position: absolute;
  top: 7px;
  left: 0;
  z-index: 3;
  background-position: center;
  background-image: url(../images/check-mark.jpg);
}
.b-points .b-checkbox-item.none-title {
  padding-left: 20px;
}
.b-points .b-checkbox-item.none-title:before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border: 1px solid #cbcbcb;
  left: 0;
  top: 6px;
  background-position: center;
  background-size: cover;
  background-image: url(../images/check-block.jpg);
}
.b-points .b-checkbox-item {
  height: 100%;
  margin-top: 3px;
  position: relative;
}
.b-points .b-checkbox-item input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.b-points .b-checkbox-item input:checked + .b-checkbox-item-title:before {
  position: absolute;
  top: 7px;
  left: 0;
  z-index: 3;
  background-position: center;
  background-image: url(../images/check-mark.jpg);
}
.b-points .b-checkbox-item-title {
  padding-left: 20px;
}
.b-points .b-checkbox-item-title:before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border: 1px solid #cbcbcb;
  left: 0;
  top: 6px;
  background-position: center;
  background-size: cover;
  background-image: url(../images/check-block.jpg);
}

.b-points-puncts {
  list-style-type: none;
  margin-left: 10px;
  margin-top: 5px;
}

.dividor {
  margin-top: 81px;
  min-height: 2px;
  max-width: 940px;
  background-color: #f2f2f2;
}

.b-description-item {
  margin-top: 20px;
}

.b-description-item img {
  max-width: 100%;
}

.b-description-item-info h1 {
  font-family: "BebasNeueBold";
  font-size: 25px;
  line-height: 26px;
  margin-top: 25px;
  color: #2a343d;
}
.b-description-item-info p {
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
}
.b-description-item-info .b-description-item-info-text {
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
}

.b-description-item-info-subtitle .b-description-item-info-subtitle-text {
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
}

.b-description-media img {
  margin-top: 5px;
  max-width: 100%;
  max-height: 100%;
}

.b-about {
  margin-top: 20px;
}
.b-about .b-about-title {
  padding-top: 5px;
  padding-bottom: 1px;
  max-width: 1031px;
  background-color: #d46053;
}
.b-about .b-about-title p {
  padding-top: 10px;
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
.b-about .b-about-item-subtitle {
  margin-top: 30px;
  color: #2a343d;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
.b-about .b-about-item-content ul li {
  color: #1f1d1d;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.b-application {
  margin-top: 55px;
  background-image: url(../images/application-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 45px;
  padding-bottom: 70px;
}
.b-application .b-application-title {
  color: #fff;
  text-align: center;
}
.b-application .b-application-title .b-application-title-text {
  font-family: "BebasNeueBold";
  font-size: 48px;
}
.b-application .b-application-title p {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.b-application .b-app-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.b-application .b-application-form .b-application-form-fontuser {
  position: relative;
}
.b-application .b-application-form .b-application-form-fontuser input {
  font-size: 14px;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.412);
  border: 1px solid white;
  opacity: 0.341;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 4px;
}
.b-application .b-application-form .b-application-form-fontuser input::-webkit-input-placeholder {
  color: #fff;
}
.b-application .b-application-form .b-application-form-fontuser i.fas {
  color: #d8dcdf;
  position: absolute;
  left: 10px;
  top: 13px;
  width: 16px;
  height: 18px;
}
.b-application .b-application-form .b-application-form-fontpassword {
  position: relative;
}
.b-application .b-application-form .b-application-form-fontpassword input {
  font-size: 14px;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.412);
  border: 1px solid white;
  opacity: 0.341;
  padding-left: 35px;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 4px;
}
.b-application .b-application-form .b-application-form-fontpassword input::-webkit-input-placeholder {
  color: #fff;
}
.b-application .b-application-form .b-application-form-fontpassword i.fas {
  color: #e8b6b0;
  position: absolute;
  left: 10px;
  top: 13px;
  width: 21px;
  height: 16px;
}
.b-application .b-application-form-btn {
  height: 40px;
  text-align: center;
}
.b-application .b-application-form-btn .b-application-form-btn-link {
  width: 210px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #fe3131;
  font-size: 14px;
  line-height: 38px;
  background-color: #fff;
  border: none;
}

.dividor-footer {
  background-color: #fff;
  height: 6px;
}

footer {
  background-color: #ddd;
}
footer .b-about-company {
  margin-top: 25px;
}
footer .b-about-company .b-about-company-item {
  list-style-type: none;
  position: relative;
}
footer .b-about-company .b-about-company-item ::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 1px;
  height: 80px;
  left: 105px;
}
footer .b-about-company .b-about-company-title {
  font-size: 14px;
  margin-left: 25px;
  color: #24201d;
  font-family: "Open Sans", sans-serif;
}
footer .b-about-company .b-about-company-title .b-about-company-title-text {
  font-weight: 700;
}
footer .b-about-company .b-about-company-title p {
  font-weight: 400;
}
footer .b-footer-text {
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #24201d;
}
footer .b-footer-text .b-footer-nav {
  margin-left: 190px;
}
footer .b-footer-text .b-footer-nav-item {
  list-style-type: none;
  margin-left: 40px;
}
footer .b-footer-text .b-footer-nav-item .b-footer-nav-link {
  color: #24201d;
  font-size: 16px;
  line-height: 25px;
  text-align: right;
  border-bottom: #24201d;
}
footer .b-footer-text .b-footer-nav-text {
  margin-top: 10px;
  margin-left: -110px;
  font-size: 14px;
}
footer .b-footer-text .b-footer-nav-text .b-footer-nav-text-text {
  text-align: right;
  display: inline-block;
}

@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 1199px;
    min-width: 992px;
  }

  header nav .b-nav-item {
    margin-left: 10px;
  }
}
@media (max-width: 1150px) {
  .b-points .b-checkbox-item-title {
    font-size: 13px;
  }
  .b-points .b-point-title.one i {
    margin-top: 7px;
    margin-left: 80px;
  }
  .b-points .b-point-title.two i {
    margin-left: 65px;
  }
  .b-points .b-point-title.three i {
    margin-left: 81px;
  }
}
@media (max-width: 992px) {
  header .navbar-light .navbar-toggler {
    border: none;
  }
  header .navbar-light .navbar-toggler-icon {
    background-image: url(../images/mobile-menu-button.png);
  }
  header nav .b-nav-item {
    text-align: center;
    margin-left: 0;
  }
}
.b-points .b-checkbox-item-title {
  font-size: 13px;
}
.b-points .b-point-title.one i {
  margin-top: 7px;
  margin-left: 73%;
}
.b-points .b-point-title.two i {
  margin-left: 70%;
}
.b-points .b-point-title.three i {
  margin-left: 73%;
}

.b-about .b-about-title p {
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}
.b-about .b-about-item-subtitle {
  font-size: 16px;
}
.b-about .b-about-item-content ul li {
  font-size: 16px;
}

.b-application {
  margin-top: 35px;
}
.b-application .b-application-form .b-application-form-fontpassword {
  margin: 15px 0;
}
.b-application .b-application-title .b-application-title-text {
  font-size: 40px;
}
.b-application .b-application-title p {
  font-size: 16px;
}

footer {
  padding-bottom: 30px;
}
footer .b-footer-text .b-footer-nav {
  margin-left: auto;
}
footer .b-about-company .b-about-company-item .b-about-company-logo img {
  height: 50px;
}
footer .b-about-company .b-about-company-item .b-about-company-logo::after {
  left: 60px;
}

@media (max-width: 768px) {
  header nav .b-phone-number .b-nav-link {
    font-size: 24px;
  }

  .b-description-item-info h1 {
    font-size: 20px;
  }

  .b-application {
    margin-top: 10px;
  }
  .b-application .b-application-title .b-application-title-text {
    font-size: 30px;
  }
  .b-application .b-application-title p {
    font-size: 14px;
  }

  footer .b-footer-text .b-footer-nav-text {
    margin-left: 0;
  }
}
@media (max-width: 456px) {
  .b-points .b-checkbox-item-title {
    font-size: 13px;
  }
  .b-points .b-point-title.one i {
    margin-top: 7px;
    margin-left: 50%;
  }
  .b-points .b-point-title.two i {
    margin-left: 45%;
  }
  .b-points .b-point-title.three i {
    margin-left: 50%;
  }
}